@model WhereToEat.MVC.Data.Connection
@{
    ViewBag.Title = "title";
}

<form asp-action="AcceptConnection">
    <div class="form-group">
        <input type="hidden" name="id" value="@Model">
        <input type="submit" value="Accept">
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}