@model IEnumerable<WhereToEat.MVC.Data.Connection>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.Email)
            </td>
            <td>
                @await Html.PartialAsync("_AcceptConnectionPartial", item)
                <a asp-action="Edit" asp-route-id="@item.ConnectionId">Accept</a> |
                <a asp-action="Delete" asp-route-id="@item.ConnectionId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>