@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Where To Eat is made to help you and your friends choose where you would like to eat, without the hassle of indecisiveness or disagreements.</p>
</div>