@using WhereToEat.MVC.Models.Cuisines
@model IEnumerable<WhereToEat.MVC.Models.Cuisines.CuisineViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Cuisines</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.CuisineId" style="text-decoration: underline">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("_CreatePartial", new CuisineViewModel())